{% include 'header.html' %}
	<main class="bg_gray">
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
		</div>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="{{ category }} " role="alert">
					<span>{{ message }}</span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- /page_header -->
			<div class="row justify-content-center">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<div class="box_account">
					<div class="form_container">
						<h1 style="text-align: center;">Bonjour!</h1>
						<p style="text-align: center;"> Connectez-vous pour accéder à votre interface afin de publier votre annonce </p>
						<form class="login-form" action="{{ url_for('login') }}" method="post">
							<div class="form-group">
								<input type="tel" class="form-control" name="telephon" id="telephon" placeholder="telephone*">
								
							</div>
							<!-- <div class="form-group">
								<input type="password" class="form-control" name="password" id="password" value="" placeholder="Password*">
							</div> -->
							<div class="form-group">
								<label for="password" class="text-uppercase">Mot de passe</label>
								<input type="password" class="form-control" name="password" placeholder="mot de passe" id="password-field" required>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							
							</div>
							
							<div class="clearfix add_bottom_15">
								<div class="checkboxes float-left">
									<label class="container_check">Souviens-toi de moi
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="float-right"><a id="forgot" href="javascript:void(0);">Mot de passe perdu?</a></div>
							</div>
							<div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
							<!-- <button type="submit" class="btn btn-login float-right" data-toggle="modal" data-target="#exampleModal{{message}}">Submit</button> -->

							<div id="forgot_pw">
								<div class="form-group">
									<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">
								</div>
								<p>A new password will be sent shortly.</p>
								<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
							</div>
					</form>
					</div>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
				
				<!-- /row -->
			</div>
			
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
	<!--/footer-->
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->

	<style>
			.danger {
				color: red
					}
			
			.succes {
				color: green
					}
			.card {
				height: 600px;
			}
			
	</style>

<script>
        function myFunction() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        $(".toggle-password").click(function() {

          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          if (input.attr("type") == "password") {
            input.attr("type", "text");
          } else {
            input.attr("type", "password");
          }
          });
        </script>
	
	<!-- COMMON SCRIPTS -->
    <script src='{{url_for("static",filename="js/common_scripts.min.js")}}'></script>
    <script src='{{url_for("static",filename="js/main.js")}}'></script>

    <script>
    	// Client type Panel
		$('input[name="client_type"]').on("click", function() {
		    var inputValue = $(this).attr("value");
		    var targetBox = $("." + inputValue);
		    $(".box").not(targetBox).hide();
		    $(targetBox).show();
		});
	</script>
	
</body>
</html>