{% include 'border.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/style.css" )}}'>
    <link href='{{url_for("static",filename="css/bootstrap.custom.min.css")}}' rel="stylesheet">
		<link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">
	
		<!-- SPECIFIC CSS -->
        <link href='{{url_for("static",filename="css/home_1.css")}}' rel="stylesheet">

        <link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
       
    
    <h1 style="text-align: center;margin-top:3%">AJOUTER  UN  MODEL</h1>
    <div class="row justify-content-center" style="margin-top: 3%; padding-left:5%">		
        <div class="col-xl-6 col-lg-6 col-md-8">
            <div class="box_account">
                <div class="form_container">
                    <form class="login-form" action="{{ url_for('ajoumodel') }}"  method="post" autocomplete="off" enctype="multipart/form-data">
                
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                              {% for category, message in messages %}
                                <div class="{{ category }} " role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    
                                </div>
                            {% endfor %}
                        {% endif %}
                       {% endwith %}


                        <div class="row no-gutters">
                            <div class="col-12"  >
                                <div class="form-group">

                                <div class="image-file">
                                  <input type="file" class="image-file-input" name="imageq" id="image"  onchange="readURL(this);" required>
                                  <label class="custom-file-label" for="image">Select image...</label>
                                  <img id="blah" src="#" alt="your image" />
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="options" id="option1" class="opt" value="moto" required> moto </input>
                                <input type="radio" name="options" id="option2" class="opt" value="voiture"> voiture </input>
                                <input type="radio" name="options" id="option3" class="opt" value="piecemoto"> piece moto </input>
                                <input type="radio" name="options" id="option4" class="opt" value="piecevoiture"> piece voiture </input>
                            </div>

                            <!-- <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Catégorie:</label>
                                <select name="choix" id="pet-select" required>
                                    <option value="">--Choisir une catégorie--</option>
                                </select>
                            </div> -->

                            <div class="col-12">
                                <div class="form-group">
                                    <select id="pet-select" class="form-control" name="choix" required>
                                        <option value="">--Choisir une marque--</option>
                                        
                                    </select>
                                </div>
                            </div>  

                                <!-- <div class="col-6 pl-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="marque" placeholder="marque*" required>
                                    </div>
                                </div> -->
                                <!-- <div class="col-6 pl-1" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="modele" placeholder="modèle*" required>
                                    </div>
                                </div> -->
                                
                                <div id="yup2" class="col-6 pl-1" >
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="kilometre" placeholder="kilometre*">
                                    </div>
                                </div>
                                <div id="yup3" class="col-6 pl-1" >
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="Nombredeportes" placeholder="Nombre de portes*" >
                                    </div>
                                </div>
                                <div id="yup4" class="col-6 pl-1" >
                                    <div class="form-group">
                                        <input type="" class="form-control" name="boitevitesse" placeholder="boite à vitesse*" >
                                    </div>
                                </div> 
                                <div id="yup5" class="col-6 pl-1" >
                                        <div class="form-group">
                                            <input type="" class="form-control" name="typecarburant" placeholder="Type de carburant*" >
                                        </div>
                                    </div>
                                    <div id="yup" class="col-6 pl-1" >
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="prix" placeholder="prix*" required>
                                        </div>
                                    </div> 
                                     
                                    <div id="yup" class="col-6 pl-1">
                                            <div class="form-group">
                                                <select id="pet-select" class="form-control" name="objet" required>
                                                    <option value="">--Objet--</option>
                                                    <option value="vente">Vente</option>
                                                    <option value="location">Location</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div id="yup1" class="col-6 pl-1" >
                                                <div class="form-group">
                                                        <select name="annee">
                                                                <option value="">années</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2015">2015</option>
                                                                <option value="2014">2014</option>
                                                                <option value="2013">2013</option>
                                                                <option value="2012">2012</option>
                                                                <option value="2011">2011</option>
                                                                <option value="2010">2010</option>
                                                            </select>
                                                </div>
                                            </div>
                                    <div id="yup" class="col-12 pl-1" >
                                            
                                            <div class="form-group">
                                                <!-- <input type="" class="form-control" name="description" placeholder="faire une petite description*" required> -->
                                                <textarea id="story" name="description" class="form-control"
                                                rows="0" cols="0" placeholder="faites une petite description*" required>
                                                faites une petite description de votre publication ici.
                                      </textarea>
                                            </div>
                                        </div> 
                                          
                                                                     
                        </div>
                        <div class="text-center" style="background-color:#ecac4a;" ><input class="btn btn-outline-dark  btn-block " type="submit" value="Enregistrer" class="btn_1 full-width"></div>

                    </form>
                </div>
                </div>
            </div>
        </div>
    </body>
    <style>
            .succes{
              color: green;
            }
            .danger{
              color: red;
            }
            .k{
                color: green;
            }
        </style>
    <script>

        function filesize(elem){
        document.cookie = `filesize=${elem.files[0].size}`
        }
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }




$( document ).ready(function() {
$("input[type='radio']").click(function(){
    var x = $("input[name='options']:checked").val();
    $('#pet-select').children('option:not(:first)').remove();
    console.log(x); 
        $.ajax({ 
            type: "POST",
            url: "option&"+x,
        });
});
});
 
$( document ).ready(function() {
    $("input[type='radio']").click(function(){
        var x = $("input[name='options']:checked").val();
        console.log(x); 
        $.ajax({ 
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            url: "option&"+x,
            success: function(liste_res){
                console.log(liste_res);
                $.each(liste_res,function(index,d){
                    $("#pet-select").append("<option value="+ d.marque +">" + d.marque + "</option>");
                    
                });
            }
        });
    });
});
    
// Afficher ou cacher les inputs selon la categorie choisie

$(document).ready(function(){
  $("#option1").click(function(){
    $("#yup1").hide();
    $("#yup2").hide();
    $("#yup3").hide();
    $("#yup4").hide();
    $("#yup5").hide();
    $("#yup6").hide();
    $("#yup7").hide();
    $("#yup8").hide();

  });
  $("#option3").click(function(){
    $("#yup1").hide();
    $("#yup2").hide();
    $("#yup3").hide();
    $("#yup4").hide();
    $("#yup5").hide();
    $("#yup6").hide();
    $("#yup7").hide();
    $("#yup8").hide();

  });

  $("#option4").click(function(){
    $("#yup1").hide();
    $("#yup2").hide();
    $("#yup3").hide();
    $("#yup4").hide();
    $("#yup5").hide();
    $("#yup6").hide();
    $("#yup7").hide();
    $("#yup8").hide();

  });

  $("#option2").click(function(){
    $("#yup1").show();
    $("#yup2").show();
    $("#yup3").show();
    $("#yup4").show();
    $("#yup5").show();
    $("#yup6").show();
    $("#yup7").show();
    $("#yup8").show();

  });
//   $("#option2").click(function(){
//     $("#yup").show();
//   });
});
    </script>
</html>