<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Voiture</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/fontawesome-free/css/all.min.css")}}'>
  <link rel="shortcut icon" href='{{url_for("static",filename="assets/images/LogoSenNdawal.png")}}'>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")}}'>
  <!-- iCheck -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}'>
  <!-- JQVMap -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/jqvmap/jqvmap.min.css")}}'>
  <!-- Theme style -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/dist/css/adminlte.min.css")}}'>
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}'>
  <!-- Daterange picker -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.css")}}'>
  <!-- summernote -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.css")}}'>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Hotjar Tracking Code for https://africmode.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1731571,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" >
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('accueil')}}" class="nav-link">ACCEUIL</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item d-none d-sm-inline-block">
         <a href="{{url_for('chef')}}" class="btn btn-outline-dark  btn-block"  role="button" title="Lister"> MODELS À VALIDER</a> 
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
    </ul>

    <!-- SEARCH FORM -->
    

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" >
    <!-- Brand Logo -->
    <a href="{{url_for('accueil')}}" class="brand-link" style="background-color: black;">

      <!-- <img src='{{url_for("static",filename="img/Logo Afric Mode.png")}}' class="img-circle elevation-2" width = "200" height = "50" alt="User Image"> -->
        <h4 style="color: aliceblue">SUNU VOITURES</h4>

    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="background-color:#ecac4a;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <div style="color: aliceblue">
              <!-- {{moi}} -->
              {%for i in moi%}
                {{i[0]}} &nbsp;&nbsp; {{i[1]}}
              {%endfor%}
                
            </div>
          <!-- <img src='{{url_for("static",filename="statics/dist/img/user2-160x160.jpg")}}' class="img-circle elevation-2" alt="User Image"> -->
       
        </div>
        <!-- {% for d in moi%} -->
        <div class="info">
            
              <!-- <a href="#" class="d-block">{{nom}}</a> -->
              
            
        </div>
        
        <!-- {%endfor %} -->
      </div>

      <!-- Sidebar Menu -->
      
      <div style="color: aliceblue">
        <div style="color: aliceblue">
            <p>Nombres de Comptes: {{comptes}} </p>
    
          </div>
          <div style="margin-bottom: 3%;">
            <a href="{{url_for('chef')}}" class="btn btn-outline-dark  btn-block"  style="color: aliceblue" role="button" title="Lister"> MODELS À VALIDER</a> 
</div>
        <div style="margin-bottom: 3%;">
        <a href="{{url_for('voiturevalide')}}"  type="button"  style="color: aliceblue"   class="btn btn-outline-dark  btn-block"  role="button" title="Model">VOITURES   </a>
      </div >
      <div style="margin-bottom: 3%; ">
        <a href="{{url_for('motovalide')}}" type="button" style="color: aliceblue"  class="btn btn-outline-dark  btn-block" role="button" title="Model">MOTOS </a>  
      </div>
        <div style="margin-bottom: 3%;">
        <a href="{{url_for('piecevalide')}}" type="button" style="color: aliceblue" class="btn btn-outline-dark  btn-block  " role="button" title="Model">PIÉCES DÉTACHÉES </a>  

      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          
          
          <br>
          <li class="nav-item has-treeview" >
            <a href="{{url_for('logout')}}" class="nav-link" style="color: aliceblue">
              <i class="fas fa-sign-out-alt"></i>
              <p>
                Déconnexion
              </p>
            </a>
            
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      

      
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
 
          
      
      
      
          <style>
              .k{
                  color: green;
              }
          </style>

        </div>
      </div>

    </div>
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src='{{url_for("static",filename="statics/plugins/jquery/jquery.min.js")}}'></script>
<!-- jQuery UI 1.11.4 -->
<script src='{{url_for("static",filename="statics/plugins/jquery-ui/jquery-ui.min.js")}}'></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src='{{url_for("static",filename="statics/plugins/bootstrap/js/bootstrap.bundle.min.js")}}'></script>
<!-- ChartJS -->
<script src='{{url_for("static",filename="statics/plugins/chart.js/Chart.min.js")}}'></script>
<!-- Sparkline -->
<script src='{{url_for("static", filename="statics/plugins/sparklines/sparkline.js")}}'></script>
<!-- JQVMap -->
<script src='{{url_for("static",filename="statics/plugins/jqvmap/jquery.vmap.min.js")}}'></script>
<script src='{{url_for("static",filename="statics/plugins/jqvmap/maps/jquery.vmap.usa.js")}}'></script>
<!-- jQuery Knob Chart -->
<script src='{{url_for("static",filename="statics/plugins/jquery-knob/jquery.knob.min.js")}}'></script>
<!-- daterangepicker -->
<script src='{{url_for("static",filename="statics/plugins/moment/moment.min.js")}}'></script>
<script src='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.js")}}'></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")}}'></script>
<!-- Summernote -->
<script src='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.min.js")}}'></script>
<!-- overlayScrollbars -->
<script src='{{url_for("static",filename="statics/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}'></script>
<!-- AdminLTE App -->
<script src='{{url_for("static",filename="statics/dist/js/adminlte.js")}}'></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src='{{url_for("static",filename="statics/dist/js/pages/dashboard.js")}}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{{url_for("static",filename="statics/dist/js/demo.js")}}'></script>
</body>
</html>
