{% include 'header.html' %}
<div class="top_banner">
    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                </ul>
            </div>
        </div>
    </div>
    <img src='{{url_for("static",filename="img/caro.jpg")}}'   class="img-fluid" alt=""  style="width: 70%; height:100%;">
</div>
<div class="container">	
    <div class="container margin_30">
        <div class="row small-gutters">
            <!-- {{users}} -->
            {% if users|length==0 %}
            <h1>Le modéle demandé n'est pas encore disponible.</h1>
            {%else%}
            {% for row in users%}
            <div class="col-sm-4 col-md-3">
                <div class="filter-cars">
                    <div class="filter-inner">
                        <img src='../static/images/{{row[3].0}}'   alt="" />
                        <div class="filter-widgets">
                            <strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/car1.jpg" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
                        </div>
                    </div>
                    <div class="filter-car-details clearfix">
                        <h5>{{row[1]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                <i  style="color:#ecac4a;" >{{row[15]}}</i></h5>
                        <ul class="filter-car-rating clearfix">
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li class="grey-star">
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </li>
                            <li class="grey-star">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <span>Start from <em>4000</em> <small> {{row.9}}</small> <strong>FCFA</strong></span>
                        <span class="discount">-20%</span>
                    </div>
                    <ul class="filter-car-more-info clearfix">
                        <li>
                            <i class="fa fa-car" aria-hidden="true"></i>{{row.4}}
                        </li>
                        <li>
                            <i class="fa fa-tachometer" aria-hidden="true"></i>{{row.5}}
                        </li>
                        <li>
                            <i class="fa fa-cog" aria-hidden="true"></i>Auto
                        </li>
                        <li>
                            <i class="fa fa-road" aria-hidden="true"></i>{{row.6}}
                        </li>
                        <li class="orange-btn">
                            <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>rent now</a>
                        </li>
                    </ul>

                </div>

            </div>
            {%endfor%}
            {%endif%}
          
                            
        </div>


</div>

    
</div>									
</div>
{% include 'footer.html' %}
