{% include 'header.html' %}

	<main>
		<div class="top_banner">
			<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
				<div class="container">
					<div class="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Category</a></li>
							<li>Page active</li>
						</ul>
					</div>
				</div>
			</div>
			<img src='{{url_for("static",filename="img/index3.jpeg")}}'   class="img-fluid" alt="">
		</div>
		<!-- /top_banner -->

		<div class="container">										

			
			<!-- /toolbox -->

			<div class="container margin_30">
			<div class="row small-gutters">
				<div class="col-sm-4 col-md-3">
					<div class="filter-cars">
						<div class="filter-inner">
							<img src='{{url_for("static",filename="assets/images/car5.jpg")}}'   alt="" />
							<div class="filter-widgets">
								<strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/car1.jpg" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
							</div>
						</div>
						<div class="filter-car-details clearfix">

							<h5>Volkswagen Passat CC</h5>
							<ul class="filter-car-rating clearfix">
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</li>
							</ul>
							<span>Start from <em>$38</em> <small> $120</small> <strong>/ Per day</strong></span>
							<span class="discount">-20%</span>
						</div>
						<ul class="filter-car-more-info clearfix">
							<li>
								<i class="fa fa-car" aria-hidden="true"></i>2011
							</li>
							<li>
								<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
							</li>
							<li>
								<i class="fa fa-cog" aria-hidden="true"></i>Auto
							</li>
							<li>
								<i class="fa fa-road" aria-hidden="true"></i>15000
							</li>
							<li class="orange-btn">
								<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>rent now</a>
							</li>
						</ul>

					</div>

				</div>
				<div class="col-sm-4 col-md-3">
					<div class="filter-cars">
						<div class="filter-inner">
							<img src='{{url_for("static",filename="assets/images/car5.jpg")}}'   alt="" />
							<div class="filter-widgets">
								<strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/car1.jpg" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
							</div>
						</div>
						<div class="filter-car-details clearfix">

							<h5>Volkswagen Passat CC</h5>
							<ul class="filter-car-rating clearfix">
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</li>
							</ul>
							<span>Start from <em>$38</em> <small> $120</small> <strong>/ Per day</strong></span>
							<span class="discount">-20%</span>
						</div>
						<ul class="filter-car-more-info clearfix">
							<li>
								<i class="fa fa-car" aria-hidden="true"></i>2011
							</li>
							<li>
								<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
							</li>
							<li>
								<i class="fa fa-cog" aria-hidden="true"></i>Auto
							</li>
							<li>
								<i class="fa fa-road" aria-hidden="true"></i>15000
							</li>
							<li class="orange-btn">
								<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>rent now</a>
							</li>
						</ul>

					</div>

				</div>
				<div class="col-sm-4 col-md-3">
					<div class="filter-cars">
						<div class="filter-inner">
							<img src='{{url_for("static",filename="assets/images/car5.jpg")}}'   alt="" />
							<div class="filter-widgets">
								<strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/car1.jpg" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
							</div>
						</div>
						<div class="filter-car-details clearfix">

							<h5>Volkswagen Passat CC</h5>
							<ul class="filter-car-rating clearfix">
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</li>
							</ul>
							<span>Start from <em>$38</em> <small> $120</small> <strong>/ Per day</strong></span>
							<span class="discount">-20%</span>
						</div>
						<ul class="filter-car-more-info clearfix">
							<li>
								<i class="fa fa-car" aria-hidden="true"></i>2011
							</li>
							<li>
								<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
							</li>
							<li>
								<i class="fa fa-cog" aria-hidden="true"></i>Auto
							</li>
							<li>
								<i class="fa fa-road" aria-hidden="true"></i>15000
							</li>
							<li class="orange-btn">
								<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>rent now</a>
							</li>
						</ul>

					</div>

				</div>
				<div class="col-sm-4 col-md-3">
					<div class="filter-cars">
						<div class="filter-inner">
							<img src='{{url_for("static",filename="assets/images/car5.jpg")}}'   alt="" />
							<div class="filter-widgets">
								<strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/car1.jpg" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
							</div>
						</div>
						<div class="filter-car-details clearfix">

							<h5>Volkswagen Passat CC</h5>
							<ul class="filter-car-rating clearfix">
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
								</li>
								<li class="grey-star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</li>
							</ul>
							<span>Start from <em>$38</em> <small> $120</small> <strong>/ Per day</strong></span>
							<span class="discount">-20%</span>
						</div>
						<ul class="filter-car-more-info clearfix">
							<li>
								<i class="fa fa-car" aria-hidden="true"></i>2011
							</li>
							<li>
								<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
							</li>
							<li>
								<i class="fa fa-cog" aria-hidden="true"></i>Auto
							</li>
							<li>
								<i class="fa fa-road" aria-hidden="true"></i>15000
							</li>
							<li class="orange-btn">
								<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>rent now</a>
							</li>
						</ul>

					</div>

				</div>
								
			</div>


			
			<!-- /row -->
				
			<div class="pagination__wrapper">
				<ul class="pagination">
					<li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
					<li>
						<a href="#0" class="active">1</a>
					</li>
					<li>
						<a href="#0">2</a>
					</li>
					<li>
						<a href="#0">3</a>
					</li>
					<li>
						<a href="#0">4</a>
					</li>
					<li><a href="#0" class="next" title="next page">&#10095;</a></li>
				</ul>
			</div>
				
		</div>
	</div>
		<!-- /container -->
	</main>
	<!-- /main -->
	{% include 'footer.html' %}
