{% include 'header.html' %}

	<main class="bg_gray">
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
		</div>
		<h1 style="text-align: center;">Créer votre compte</h1>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="{{ category }} " role="alert">
					<span>{{ message }}</span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="msg">{{ msggz }}</div>
	<!-- /page_header -->
		<div class="row justify-content-center">
		
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<div class="form_container">
						<form class="login-form" action="{{ url_for('Inscriptionvendeurs') }}"  method="post" autocomplete="off">
					
							<div class="row no-gutters">
									<div class="col-6 pl-1">
										<div class="form-group">
											<input type="text" class="form-control" name="prenom" placeholder="Prénom*" required>
										</div>
									</div>
									<div class="col-6 pl-1">
										<div class="form-group">
											<input type="text" class="form-control" name="nom" placeholder="Nom*" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input type="text" class="form-control" name="adresse" placeholder="Address*" required>
										</div>
									</div>
									<div class="col-6 pl-1">
											<div class="form-group">
											<input type="tel" class="form-control" name="telephone" placeholder="Telephone *" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" value="{{ request.form['telephone'] }}" required>
										</div>
									</div>
									<div class="col-6 pl-1">
										<div class="form-group">
											<input type="tel" class="form-control" name="telephone2" placeholder=" ConfirméTelephone *" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" value="{{ request.form['telephone'] }}" required>
										</div>
									</div>
									<div class="col-12">

									<div class="form-group">
										<input type="email" class="form-control" name="mail" id="email_2" placeholder="Email*" required>
									</div>
									</div>

									<div class="col-6 pr-1">
										<div class="form-group">
											<input type="password" class="form-control" name="password" id="password" value="" placeholder="Mote de passe*" required>
										</div>
									</div>
									<div class="col-6 pr-1">
										<div class="form-group">
											<input type="password" class="form-control" name="password22" id="password22" value="" placeholder="Confirmer mot de passe*" required>
										</div>
									</div>
									<div class="form-group">
										<p style="color: white; font-size: 80%;"> <a href="#myModal" data-toggle="modal" data-target="#myModal">En créant votre compte, vous indiquez que vous avez lu et accepté <br> nos conditions générales d'utilisation</a>.</p>
									</div>
									<!-- <div class="form-group">
										<label class="container_check">Accept <a href="#0">Terms and conditions</a>
											<input type="checkbox" >
											<span class="checkmark"></span>
										</label>
									</div> -->
									
							</div>
							<div class="text-center"><input type="submit" value="Register" class="btn_1 full-width"></div>

						</form>
					</div>
					</div>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
			</div>
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->



		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="myModalLabel" style="text-align: center;">Conditions générales d’utilisation du site <br> Transtal</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6>
                        <!-- Conditions générales d’utilisation du site Africmode <br> -->
                        
                        
						Article 1: Objet <br>
						Les présentes Conditions Générales d’Utilisation ou CGU encadrent juridiquement l’utilisation des services du site Transtal (ci-après dénommé « Site Internet » ). <br>
						Constituant le contrat entre la société Transtal, l’Utilisateur, l’accès au site doit être précédé de l’acceptation de ces CGU. L’accès à cette plateforme signifie l’acceptation des présentes CGU. <br>
						Article 2: Mentions légales <br>
						L’édition du site Transtal est assurée par la société Transtal dont le siège social est localisé à l’École Police, Immeuble Scalène Mermoz lot B, Rue KA 05, Dakar . <br>
						Article 3: Accès au site <br>
						Le site Transtal permet d’accéder gratuitement aux services suivants : <br>
						*  Publication des voitures, des motos et des pièces détachées ; <br>
						* Vente et location de voitures et motos. <br>
						Le site est accessible gratuitement depuis n’importe où par tout utilisateur disposant d’un accès à Internet. Tous les frais nécessaires pour l’accès aux services (matériel informatique, connexion Internet...) sont à la charge de l’utilisateur. L’accès aux services dédiés aux membres s’effectue à l’aide d’un identifiant et d’un mot de passe.
						Pour des raisons de maintenance ou autres, l’accès au site peut être interrompu ou suspendu par l’éditeur sans préavis ni justification. <br>
						Article 4: Collecte des données <br>
						Pour la création du compte de l’Utilisateur, la collecte des informations au moment de l’inscription sur le site est nécessaire et obligatoire. Conformément à la loi sur la protection des données à caractère personnel lors de sa séance du vendredi 30 novembre 2007 adoptée par l’Assemblée nationale sénégalaise , aux fichiers et aux libertés, la collecte et le traitement d’informations personnelles s’effectuent dans le respect de la vie privée.
						L’Utilisateur dispose du droit d’accéder, de rectifier, de supprimer et d’opposer ses données personnelles. L’exercice de ce droit s’effectue par : <br>
						Le formulaire de contact; <br>
						Son espace client. <br>
						Article 5: Propriété intellectuelle <br>
						Les marques, logos ainsi que les contenus du site Transtal (illustrations graphiques, textes...) sont protégés par le Code de la propriété intellectuelle et par le droit d’auteur.<br>
						La reproduction et la copie des contenus par l’Utilisateur requièrent une autorisation préalable du site. Dans ce cas, toute utilisation à des usages commerciaux ou à des fins publicitaires est proscrite. <br>
						Article 6: Responsabilité <br>
						Bien que les informations publiées sur le site soient réputées fiables, le site se réserve la faculté d’une non-garantie de la fiabilité des sources. <br>
						Les informations diffusées sur le site Transtal sont présentées à titre purement informatif et sont sans valeur contractuelle. En dépit des mises à jour régulières, la responsabilité du site ne peut être engagée en cas de modification des dispositions administratives et juridiques apparaissant après la publication. Il en est de même pour l’utilisation et l’interprétation des informations communiquées sur la plateforme. <br>
						Le site décline toute responsabilité concernant les éventuels virus pouvant infecter le matériel informatique de l’Utilisateur après l’utilisation ou l’accès à ce site. <br>
						Le site ne peut être tenu pour responsable en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers. <br>
						La garantie totale de la sécurité et la confidentialité des données n’est pas assurée par le site.
						Cependant, le site s’engage à mettre en œuvre toutes les méthodes requises pour le faire au mieux.<br>
						Article 7: Liens hypertextes<br>
						Le site peut être constitué de liens hypertextes. En cliquant sur ces derniers, l’Utilisateur sortira de la plateforme. Cette dernière n’a pas de contrôle et ne peut pas être tenue responsable du contenu des pages web relatives à ces liens. <br>
						Article 8: Cookies <br>
						Lors des visites sur le site, l’installation automatique d’un cookie sur le logiciel de navigation de l’Utilisateur peut survenir. <br>
						Les cookies correspondent à de petits fichiers déposés temporairement sur le disque dur de l’ordinateur de l’Utilisateur. Ces cookies sont nécessaires pour assurer l’accessibilité et la navigation sur le site. Ces fichiers ne comportent pas d’informations personnelles et ne peuvent pas être utilisés pour l’identification d’une personne. <br>
						L’information présente dans les cookies est utilisée pour améliorer les performances de navigation sur le site transtal.com. <br>
						En naviguant sur le site, l’Utilisateur accepte les cookies. Leur désactivation peut s’effectuer via les paramètres du logiciel de navigation. <br>
						Article 9: Publication par l’Utilisateur <br>
						Le site Transtal peut permettre aux membres de publier des informations. <br>
						Dans ses publications, le membre est tenu de respecter les règles de la Netiquette ainsi que les règles de droit en vigueur. <br>
						Le site dispose du droit d’exercer une modération à priori sur les publications et peut refuser leur mise en ligne sans avoir à fournir de justification. <br>
						Le membre garde l’intégralité de ses droits de propriété intellectuelle. Toutefois, toute publication sur le site implique la délégation du droit non exclusif et gratuit à la société éditrice de représenter, reproduire, modifier, adapter, distribuer et diffuser la publication n’importe où et sur n’importe quel support pour la durée de la propriété intellectuelle. Cela peut se faire directement ou par l’intermédiaire d’un tiers autorisé. Cela concerne notamment le droit d’utilisation de la publication sur le web et sur les réseaux de téléphonie mobile. À chaque utilisation, l’éditeur s’engage à mentionner le nom du membre à proximité de la publication. <br>
						L’Utilisateur est tenu responsable de tout contenu qu’il met en ligne. L’Utilisateur s’engage à ne pas publier de contenus susceptibles de porter atteinte aux intérêts de tierces personnes. Toutes procédures engagées en justice par un tiers lésé à l’encontre du site devront être prises en charge par l’Utilisateur. <br>
						La suppression ou la modification par le site du contenu de l’Utilisateur peut s’effectuer à tout moment, pour n’importe quelle raison et sans préavis. <br>
						Article 11: Durée du contrat <br>
						Le présent contrat est valable pour une durée indéterminée. Le début de l’utilisation des services du site marque l’application du contrat à l’égard de l’Utilisateur. <br>
						Article 12: Droit applicable et juridiction compétente <br>
						Le présent contrat est soumis à la législation sénégalaise. L’absence de résolution à l’amiable des cas de litige entre les parties implique le recours aux tribunaux sénégalais compétents pour régler le contentieux. <br>

                    </h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>





	</main>
	<!--/main-->

	<style>
			.danger {
				color: red
					}
			
			.succes {
				color: green
					}
			.card {
				height: 600px;
			}
			
	</style>
{% include 'footer.html' %}
