{% include 'header.html' %}


<div class="top_banner">
    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                </ul>
            </div>
        </div>
    </div>
    <img src='../static/images/{{tel[2].0}}'   class="img-fluid" alt=""style="width: 70%; height:100%;" >
</div>
    <!-- End container -->
    
    <div class="container">	
        <div class="container margin_30">
            <div class="row small-gutters">
                <!-- {{users}} -->
                {% if tel|length==0 %}
                <h1>Le modéle demandé n'est pas encore disponible.</h1>
                {%else%}
                <!-- {{tel}} {{tel.13}} -->
                <div class="col-sm-4 col-md-3">
                    <div class="filter-cars">
                        <div class="filter-inner">
                            <img src='../static/images/{{tel[2].0}}'   alt="" />
                            <div class="filter-widgets">
                                <strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="#" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
                            </div>
                        </div>
                        <div class="filter-car-details clearfix">
                            <h5>{{tel[10]}}</h5>
                            <ul class="filter-car-rating clearfix">
                                <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="grey-star">
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </li>
                                <li class="grey-star">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </li>
                            </ul>
                            <span>Start from <em>4000</em> <small> {{tel.9}}</small> <strong>FCFA</strong></span>
                            <span class="discount">-20%</span>
                        </div>
                        {% if tel[13]=='voiture' %}
                        
                            <ul class="filter-car-more-info clearfix">
                                <li>
                                    <i class="fa fa-car" aria-hidden="true"></i>{{tel.13}}
                                </li>
                                <li>
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>{{tel.8}}
                                </li>
                                <li>
                                    <i class="fa fa-cog" aria-hidden="true"></i>{{tel.5}}
                                </li>
                                <li>
                                    <i class="fa fa-road" aria-hidden="true"></i>{{tel.6}}
                                </li>
                            
                            </ul>
                        {%endif%}
                        
                    </div>
    
                </div>
                <div class="col-sm-8 col-md-8">
                    <h5>Description de la {{tel[13]}}: <i  style="color:#ecac4a;" >{{tel[14]}}</i> </h5> 
                    <h4>Propriétaire: <i  style="color:#ecac4a;" >{{tel[11]}}</i> </h4> 
                    <h4>Téléphone: <i  style="color:#ecac4a;" >{{tel[1]}}</i> </h4> 
                    <h4>Adresse: <i  style="color:#ecac4a;" >{{tel[12]}}</i> </h4> 
                    
                </div>
                {%endif%}
              
                                
            </div>
    
    
    </div>
    
        
    </div>

        <!-- End blog -->
        <div class="container">
            <div class="title-text-v2">
                <h1>Les autres publications de la même marque!</h1>
            </div>
            <div class="featured-products home_2 new-arrivals lastest">
                <ul class="tabs tabs-title">
                    
                </ul>
                <div class="tab-container space-10">
                    <div id="tab_1" class="tab-content">
                        <div class="products hover-shadow ver2 border-space-product border-space-product">
            {% if users|length==1 %}
                <h3>Pour le moment une seule publication de la marque <i  style="color:#ecac4a;" >{{tel[10]}}</i> existe dans la plateforme.</h3>
            {%else%}
            {% for row in users%}
            <div class="col-sm-4 col-md-3">
                <div class="filter-cars">
                    <div class="filter-inner">
                        <img src='../static/images/{{row[1].0}}'   alt="" />
                        <div class="filter-widgets">
                            <strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="detail&{{row[0]}}" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
                        </div>
                    </div>
                    <div class="filter-car-details clearfix">
                        <h5>{{row[9]}}</h5>
                        <ul class="filter-car-rating clearfix">
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li class="grey-star">
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </li>
                            <li class="grey-star">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <span>Start from <em>4000</em> <small> {{row.8}}</small> <strong>FCFA</strong></span>
                        <span class="discount">-20%</span>
                    </div>
                    <ul class="filter-car-more-info clearfix">
                        <li>
                            <i class="fa fa-car" aria-hidden="true"></i>{{row.3}}
                        </li>
                        <li>
                            <i class="fa fa-tachometer" aria-hidden="true"></i>{{row.4}}
                        </li>
                        <li>
                            <i class="fa fa-cog" aria-hidden="true"></i>Auto
                        </li>
                        <li>
                            <i class="fa fa-road" aria-hidden="true"></i>{{row.5}}
                        </li>
                        <li class="orange-btn">
                            <a href="detail&{{row[0]}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Detail</a>
                        </li>
                    </ul>

                </div>

            </div>
            {%endfor%}
            {%endif%}
                            <!-- End item -->
                            
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_2" class="tab-content">
                        <div class="products hover-shadow ver2 border-space-product">
                           
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_3" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_4" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_5" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                          
                            
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                </div>
            </div>
            
            <div class="pages">
                <!-- {{ pagination.links }} -->
            </div>

        </div>


<div>
    <pagination class="pagination-sm" total-items="15" items-per-page="15" max-size="15"></pagination>                      
</div>

<style>
.textss{
margin-left: 450px;
}
.color-brand{
margin-top: 150px;
}

.pages{
padding-left: 550px;
/* padding-top: 500px; */
}
.succes{
    color: rgb(170, 4, 120);
    }
.danger{
color: red;
}

/*#classModal{}*/

.modal-body {
overflow-x: auto;
}


</style>

{% include 'footer.html' %}
