
			<!--Footer Section start-->
			<footer id="footer" class="bdr-0">
				<div class="primary-footer">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="about-us-footer">
									<h5 class="view-title-style">Qui sommes nous?</h5>
									
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 text-center footer-img-gap">
								<a href="{{url_for('accueil')}}" class="footer-logo"><img src='{{url_for("static",filename="img/logo.jpg")}}' alt="lets drive" /></a>
								<!-- <img src='{{url_for("static",filename="img/logo.jpg")}}' alt="" style=" width: 100%;  height:50% " > -->
							</div>
							<div class="col-xs-12 col-sm-4 text-right contact-info-footer">
								<h5 class="view-title-style">Contact</h5>
								<address>
									
									address: Dakar <br>
									Email: transtal@gmail.com <br>
									Phone: 33 300 00 00 <br>
									Fax: 33 100 00 00
								</address>
									<!-- Email:<a href="mailto:mail@letsdrive.com"> mail@letsdrive.com</a><span class="line-break"></span>
									Phone: <a href="tel:88001234567">8 800 12 34 567</a><span class="line-break"></span>
									Fax: <a href="fax:80009876543 ">+8 000 98 76 543 </a><span class="line-break"></span> -->
							</div>
						</div>
					</div>
				</div>

				<div class="footer-bottom text-center">
					<div class="container">
						<span>&copy; All Rights Reserved. Create by <a href=" http://theemon.com"></a></span>
					</div>
				</div>

			</footer>

			<!--Footer Section End-->
		</div>
		
	
		<!--Page Wrapper End-->
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/angular.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery-1.11.3.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery-ui.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.timepicker.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/bootstrap.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/less.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/owl.carousel.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/app.js")}}'></script>
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.selectBox.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.fancybox.js")}}'></script>

		<!-- revolution slider Js -->
		<script type="text/javascript" src='{{url_for("static",filename="assets/js//jquery.themepunch.tools.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.revolution.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.revolution.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.video.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.slideanims.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.actions.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.layeranimation.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.kenburn.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.navigation.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.migration.min.js")}}'></script>
		<script type="text/javascript" src='{{url_for("static",filename="assets/extensions/revolution.extension.parallax.min.js")}}'></script>
		<!--  revolution slider Js -->
        <!-- map                     -->
        <script type="text/javascript" src='{{url_for("static",filename="assets/js/map.js")}}'></script>
         <!-- map                     -->
		<script type="text/javascript" src='{{url_for("static",filename="assets/js/site.js")}}'></script>


		<!-- allaia -->

		<!-- COMMON SCRIPTS -->
		<script src='{{url_for("static",filename="js/common_scripts.min.js")}}'></script>
		<script src='{{url_for("static",filename="js/main.js")}}'></script>
		
		<!-- SPECIFIC SCRIPTS -->
		<script src='{{url_for("static",filename="js/carousel-home.min.js")}}'></script>

	</body>
</html>