<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Transtal</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/bootstrap.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/settings.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/simple-line-icons.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/font-awesome.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/owl.carousel.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/jquery-ui.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/jquery.timepicker.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/jquery.fancybox.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/jquery.selectBox.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/global.css")}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/style.css" )}}'>
		<link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/responsive.css")}}'>
		<link rel="stylesheet" type="text/less" href='{{url_for("static",filename="assets/css/skin.less")}}'>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

		<!-- allaia -->

		<!-- Favicons-->
		<link rel="shortcut icon" href='{{url_for("static",filename="img/favicon.ico")}}' type="image/x-icon">
		<link rel="apple-touch-icon" type="image/x-icon" href='{{url_for("static",filename="img/apple-touch-icon-57x57-precomposed.png")}}'>
		<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href='{{url_for("static",filename="img/apple-touch-icon-72x72-precomposed.png")}}'>
		<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href='{{url_for("static",filename="img/apple-touch-icon-114x114-precomposed.png")}}'>
		<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href='{{url_for("static",filename="img/apple-touch-icon-144x144-precomposed.png")}}'>
		
		<!-- GOOGLE WEB FONT -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
	
		<!-- BASE CSS -->
		<link href='{{url_for("static",filename="css/bootstrap.custom.min.css")}}' rel="stylesheet">
		<link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">
	
		<!-- SPECIFIC CSS -->
		<link href='{{url_for("static",filename="css/home_1.css")}}' rel="stylesheet">
	
		<!-- YOUR CUSTOM CSS -->
		<link href='{{url_for("static",filename="css/custom.css")}}' rel="stylesheet">
	
        <link href='{{url_for("static",filename="css/account.css")}}' rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
	</head>
	<body data-ng-app="themeonApp">

		<!--Page Wrapper Start-->
		<div id="wrapper" class="home" >

				<header class="version_1">
						<div class="layer"></div><!-- Mobile menu overlay mask -->
						<div class="main_header">
							<div class="container">
								<div class="row small-gutters">
									<div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
										<div id="logo">
											<!-- <a href="index.html"><img src='{{url_for("static",filename="img/logo.svg")}}' alt="" width="100" height="35"></a> -->
											<a href="{{url_for('accueil')}}"><img src='{{url_for("static",filename="img/logo.jpg")}}' alt=""  width="35%" height="10"></a>
										
										</div>
									</div>
									<nav class="col-xl-6 col-lg-7" >
										<a class="open_close" href="javascript:void(0);">
											<div class="hamburger hamburger--spin">
												<div class="hamburger-box">
													<div class="hamburger-inner"></div>
												</div>
											</div>
										</a>
										<!-- Mobile menu button -->
										<div class="main-menu">
											<div id="header_menu" style="background-color: #ecac4a;">
												<a href="{{url_for('accueil')}}"><img src='{{url_for("static",filename="img/logo.jpg")}}' alt="" style=" width: 100%;  height:50% " ></a>
												<a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
											</div>
											<ul >
												<li>
													<a href="{{url_for('accueil')}}">Accueil</a>
													
												</li>
												<li class="megamenu submenu">
													<a href="{{url_for('new')}}" class="show-submenu-mega">Voitures</a>
													<div class="menu-wrapper">
														<div class="row small-gutters">
															<div class="col-lg-3">
																<ul>
																	<li><a href="{{url_for('toyota')}}">Toyota</a></li>
																	<li><a href="{{url_for('mercedes')}}">Mercedes-benz</a></li>
																	<li><a href="{{url_for('bmw')}}">BMW</a></li>
																	<li><a href="{{url_for('ford')}}">Ford </a></li>
																	<li><a href="{{url_for('Honda')}}">Honda </a></li>
																	<li><a href="{{url_for('hyundai')}}">hyundai</a></li>
																</ul>	
							                                </div>
															<div class="col-lg-3">
																<ul>
																	<li><a href="{{url_for('Nissan')}}">Nissan</a></li>
																	<li><a href="{{url_for('Renault')}}">Renault</a></li>
																	<li><a href="{{url_for('Peugeot')}}">Peugeot</a></li>
																	<li><a href="{{url_for('Citroen')}}">Citroën C3</a></li>
																	<li><a href="{{url_for('Dacia')}}">Dacia</a></li>

																	<li><a href="{{url_for('Mitsubishi')}}">Mitsubishi</a></li>
																</ul>
															</div>
															<div class="col-lg-3">

																<ul>
																	<li><a href="{{url_for('Volkswagen')}}">Volkswagen</a></li>
																	<li><a href="{{url_for('volvo')}}">volvo</a></li>
																	<li><a href="{{url_for('mazda')}}">mazda</a></li>
																	<li><a href="{{url_for('suzuki')}}">suzuki</a></li>
																	<li><a href="{{url_for('kia')}}">kia</a></li>
																	<li><a href="{{url_for('Autres')}}">Autres</a></li>
																</ul>
															</div>
															<div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
																<div class="banner_menu">
																	<a href="#0">
																		<img src='{{url_for("static",filename="img/index3.jpeg")}}' data-src='{{url_for("static",filename="img/index3.jpeg")}}'  width="400" height="550" alt="" class="img-fluid lazy">
			
																	</a>
																</div>
															</div>
														</div>
														<!-- /row -->
													</div>
													<!-- /menu-wrapper -->
												</li>
												<li class="megamenu submenu">
													<a href="{{url_for('collectenewmoto')}}" class="show-submenu-mega">Motos</a>
													<div class="menu-wrapper">
														<div class="row small-gutters">
															<div class="col-lg-2">
																<ul>
																	<li><a href="{{url_for('TMAX')}}">TMAX</a></li>
																	<li><a href="{{url_for('SUZUKI')}}">SUZUKI</a></li>
																	<li><a href="{{url_for('Jakarta')}}">Jakarta</a></li>
																	<li><a href="{{url_for('Scooter')}}">Scooter</a></li>
																	
																</ul>
															</div>
															<div class="col-lg-2">
																<ul>
																	<li><a href="{{url_for('Beverly')}}">Beverly</a></li>
																	<li><a href="{{url_for('Yamaha')}}">Yamaha</a></li>
																	<li><a href="{{url_for('Piaggio')}}">Piaggio</a></li>
																	<li><a href="{{url_for('Peageot')}}">Peageot</a></li>
																</ul>
															</div>
															<div class="col-lg-2">
																<ul>
																	<li><a href="{{url_for('Liberty')}}">Liberty</a></li>
																	<li><a href="{{url_for('Autress')}}">Autres</a></li>
																</ul>
															</div>
															<div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
																<div class="banner_menu">
																	<a href="#0">
																		<img src='{{url_for("static",filename="img/unnamed.jpg")}}' data-src='{{url_for("static",filename="img/unnamed.jpg")}}' alt="" width="400" height="550" alt="" class="img-fluid lazy ">
			
																	</a>
																</div>
															</div>
														</div>
														<!-- /row -->
													</div>
													<!-- /menu-wrapper -->
												</li>
												<li class="megamenu submenu">
													<a href="{{url_for('collectenewpiece')}}" class="show-submenu-mega">Piéces détachées</a>
													<div class="menu-wrapper">
														<div class="row small-gutters">
															<div class="col-lg-2">
																<h3>Pour Voiture</h3>
																<ul>

																	<li><a href="{{url_for('Ampoules')}}">Ampoules voiture</a></li>
																	<li><a href="{{url_for('Plaquettes')}}">Plaquettes de frein</a></li>
																	<li><a href="{{url_for('Pneus')}}">Pneus</a></li>
																	<li><a href="{{url_for('Carrosserie')}}">Carrosserie</a></li>
																	<li><a href="{{url_for('Moteur')}}">Moteur</a></li>
																	
																</ul>
															</div>
															<div class="col-lg-2">
																<h3>Pour Voiture</h3>
																<ul>
																	<li><a href="{{url_for('Climatisation')}}">Climatisation</a></li>
																	<li><a href="{{url_for('Direction')}}">Direction</a></li>
																	<li><a href="{{url_for('Echappement')}}">Echappement</a></li>
																	<li><a href="{{url_for('Embrayage')}}">Embrayage</a></li>
																	<li><a href="{{url_for('Autresvoiture')}}">Autres</a></li>
																</ul>
															</div>
															<div class="col-lg-2">
																<h3>Pour Moto</h3>
																<ul>
																	<li><a href="{{url_for('Echappementmoto')}}">Échappement moto</a></li>
																	<li><a href="{{url_for('Freinage')}}">Freinage Moto</a></li>
																	<li><a href="{{url_for('Filtresmoto')}}">Filtres moto</a></li>
																	<li><a href="{{url_for('Pneusroue')}}">Pneus et roues</a></li>
																	<li><a href="{{url_for('Amortisseur')}}">Amortisseur</a></li>
																</ul>
															</div>
															<div class="col-lg-2">
																<h3>Pour Moto</h3>
																<ul>
																	<li><a href="{{url_for('Batteries')}}">Batteries</a></li>
																	<li><a href="{{url_for('piecesmoteur')}}">pieces moteur et cables</a></li>
																	<li><a href="{{url_for('Habillages')}}">Habillages protection moto</a></li>
																	<li><a href="{{url_for('Eclairage')}}">Eclairage et signalisation</a></li>
																	<li><a href="{{url_for('Autresmoto')}}">Autres</a></li>
																</ul>
															</div>
															<div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
																<div class="banner_menu">
																	<a href="#0">
																		<img src='{{url_for("static",filename="img/pieces.jpg")}}' data-src='{{url_for("static",filename="img/pieces.jpg")}}'  alt="" class="lazy" width="350" height="200" alt="" class="img-fluid lazy">
			
																	</a>
																</div>
															</div>
														</div>
														<!-- /row -->
													</div>
												</li>
												<li class="megamenu submenu">
														<a href="{{url_for('collectenewmoto')}}" class="show-submenu-mega">Objet</a>
														<div class="menu-wrapper">
															<div class="row small-gutters">
																<div class="col-lg-2">
																	<ul>
																		<li><a href="{{url_for('vente')}}">Vente</a></li>
																		<li><a href="{{url_for('location')}}">Location</a></li>
																		
																		
																	</ul>
																</div>
																																
															</div>
															<!-- /row -->
														</div>
														

												</li>
												<li>
													<a href="{{url_for('contact')}}">contact</a>
												</li>
											</ul>
										</div>
										<!--/main-menu -->
									</nav>
									<div class="col-xl-3 col-lg-2 d-lg-flex align-items-center justify-content-end text-right">
										<a class="phone_top" href="#"><strong><span>Besoin D'aide?</span>+221 788 68 47</strong></a>
										<!-- <a class="phone_top" href="tel://9438843343"><strong><span>Besoin D'aide?</span>+221 788 68 47</strong></a> -->
									
									</div>
								</div>
								<!-- /row -->
							</div>
						</div>
						<!-- /main_header -->
				
						<div class="main_nav Sticky">
							<div class="container">
								<div class="row small-gutters">
									<div class="col-xl-3 col-lg-3 col-md-3">
										<nav class="categories">
											<ul class="clearfix">
												<li><span>
														<a href="#">
															<span class="hamburger hamburger--spin">
																<span class="hamburger-box">
																	<span class="hamburger-inner"></span>
																</span>
															</span>
															menu
														</a>
													</span>
													<div id="menu">
														<ul>
															<li><span><a href="{{url_for('accueil')}}">Accueil</a></span>
	                                                           
															</li>
												<li><span><a href="{{url_for('new')}}" class="show-submenu-mega" >VOITURES</a></span>
													<div class="menu-wrapper">
														<div class="row small-gutters">
														<div class="col-lg-2">

																<ul>
																	<li><a href="{{url_for('toyota')}}">Toyota</a></li>
																	<li><a href="{{url_for('mercedes')}}">Mercedes-benz</a></li>
																	<li><a href="{{url_for('bmw')}}">BMW</a></li>
																	<li><a href="{{url_for('ford')}}">Ford </a></li>
																	<li><a href="{{url_for('Honda')}}">Honda </a></li>
																	<li><a href="{{url_for('hyundai')}}">hyundai</a></li>
																</ul>
															</div>
							
														</div>
													</div>
															</li>
															<li><span><a href="{{url_for('collectenewmoto')}}">MOTOS</a></span>
																<ul>
																	<li><a href="{{url_for('TMAX')}}">TMAX</a></li>
																	<li><a href="{{url_for('SUZUKI')}}">SUZUKI</a></li>
																	<li><a href="{{url_for('Jakarta')}}">Jakarta</a></li>
																	<li><a href="{{url_for('Scooter')}}">Scooter</a></li>
																
																</ul>
															</li>
															<li><span><a href="{{url_for('collectenewpiece')}}">PIÉCE DÉTACHÉES</a></span>
																<ul>

																	<li><a href="{{url_for('Ampoules')}}">Ampoules voiture</a></li>
																	<li><a href="{{url_for('Plaquettes')}}">Plaquettes de frein</a></li>
																	<li><a href="{{url_for('Pneus')}}">Pneus</a></li>
																	<li><a href="{{url_for('Carrosserie')}}">Carrosserie</a></li>
																	<li><a href="{{url_for('Moteur')}}">Moteur</a></li>
																	
																</ul>
																
															</li>
														
															<li><span><a href="{{url_for('contact')}}">CONTACT</a></span>
																
															</li>
														</ul>
													</div>
												</li>
											</ul>
										</nav>
									</div>
									
									
										<div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
											<div class="custom-search-input">
													<form action="{{ url_for('search') }}" method="post" autocomplete="off" >
														<input type="text" name="vals" placeholder="Recherche...">
														<button type="submit"><i class="header-icon_search_custom"></i></button>
													</form>
											</div>

										</div>
								
									<div class="col-xl-2 col-lg-1 col-md-2">
										<ul class="top_tools">
											<li>
												<div class="dropdown dropdown-cart">
													<a href="cart.html" class=""><strong></strong></a>
													<div class="dropdown-menu">
														
													</div>
												</div>
												<!-- /dropdown-cart-->
											</li>
											<li>
											</li>
											<li>
												<div class="dropdown dropdown-access" >
													<a href="{{url_for('login')}}"><i class="ti-user"></i> Connexion</a>
													<div class="dropdown-menu">
														<a href="#" class="btn_1">Connectez-vous ou créer votre compte</a>
														<ul>
											
									
															<li>
																<a href="{{url_for('login')}}"><i class="ti-user"></i>Se Connecter</a>
															</li>
															
															<li>
																<a href="{{url_for('Inscriptionvendeurs')}}"><i class="ti-user"></i>créer mon compte</a>
															</li>
														</ul>
													</div>
												</div>
												<!-- /dropdown-access-->
											</li>
											
										
										</ul>
									</div>
								</div>
								<!-- /row -->
							</div>
							<div class="search_mob_wp">
								<input type="text" class="form-control" placeholder="Recherche">
								<input type="submit" class="btn_1 full-width" value="Search">
							</div>
							<!-- /search_mobile -->
						</div>
						<!-- /main_nav -->
					</header>
					<!-- /header -->
				
