{% include 'header.html' %}
<main>
	<div id="carousel-home">
		<div class="owl-carousel owl-theme">
			<div class="owl-slide cover" style="background-image: url('{{url_for('static',filename='img/index3.jpeg')}}');">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-end">
							<div class="col-lg-6 static">
								<div class="slide-text text-right white">
									<h2 class="owl-slide-animated owl-slide-title"></h2>
									<p class="owl-slide-animated owl-slide-subtitle">													</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="{{url_for('new')}}" role="button">Regarder Maintenant</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url('{{url_for('static',filename='img/unnamed.jpg')}}');">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-6 static">
								<div class="slide-text white">
									<h2 class="owl-slide-animated owl-slide-title">Attack Air<br>VaporMax Flyknit 3</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Limited items available at this price
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="{{url_for('collectenewmoto')}}" role="button">Regarder Maintenant</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			
			<div class="owl-slide cover" style="background-image: url('{{url_for('static',filename='img/pieces.jpg')}}');" class="img-fluid">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(255, 255, 255, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-12 static">
								<div class="slide-text text-center black">
									<h2 class="owl-slide-animated owl-slide-title">Attack Air<br>Monarch IV SE</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="{{url_for('collectenewpiece')}}" role="button">Regarder Maintenant</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
			</div>
		</div>
		<div id="icon_drag_mobile"></div>
	</div>
	<ul id="banners_grid" class="clearfix">
		<li>
			<a href="{{url_for('new')}}" class="img_container">
				<img src='{{url_for("static",filename="img/index3.jpeg")}}' data-src='{{url_for("static",filename="img/index3.jpeg")}}' alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3> Collection VIP</h3>
					<div><span class="btn_1">Regarder maintenant</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="{{url_for('collectenewmoto')}}" class="img_container">
				<img src='{{url_for("static",filename="img/unnamed.jpg")}}' data-src='{{url_for("static",filename="img/unnamed.jpg")}}' alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3>Collection VIP</h3>
					<div><span class="btn_1">Regarder maintenant</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="{{url_for('collectenewpiece')}}" class="img_container">
				<img src='{{url_for("static",filename="img/pieces.jpg")}}' data-src='{{url_for("static",filename="img/pieces.jpg")}}' alt="" class="lazy">
				<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<h3>Collection VIP</h3>
					<div><span class="btn_1">Regarder maintenant</span></div>
				</div>
			</a>
		</li>
	</ul>
</main>
			<!--Content Area Start-->
			<div id="content">											
				<!-- rental vehicles section start here -->
				<section class="rental-vehicles">
					<div class="container">
						<div class="row">
							
							<div class="rental-per-day">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="rental-car zoom">
											<figure>
												<img src='../static/img/embrayage.jpg'  alt=""style="width: 100%;" >
											</figure>
											<div class="car-details ">
												<div class="car-info clearfix">
													<h5>Volkswagen Passat CC</h5>
													<ul class="car-rating">
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-half-o" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-o" aria-hidden="true"></i>
														</li>
													</ul>
												</div>
												<span>prix: <small> 5000000FCFA</small> </span>

											</div>
											<ul class="car-more-info clearfix">
												<li>
													<i class="fa fa-car" aria-hidden="true"></i>2011
												</li>
												<li>
													<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
												</li>
												<!-- <li>
													<i class="fa fa-cog" aria-hidden="true"></i>Auto
												</li> -->
												<li>
													<i class="fa fa-road" aria-hidden="true"></i>15000
												</li>
												<li class="orange-btn">
													<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>voir en detail</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="rental-car zoom">
											<figure><img src='../static/img/tmax1.jpg' alt="" style="width: 100%; height:100%;" ></figure>										                                                                                                                                                                                                                    
											<div class="car-details ">
												<div class="car-info clearfix">
													<h5>Mercedes-Benz S63 AMG Coupe</h5>
													<ul class="car-rating">
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-half-o" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-o" aria-hidden="true"></i>
														</li>
													</ul>
												</div>
												<span>prix <small> 8000000FCFA</small> </span>

											</div>
											<ul class="car-more-info clearfix">
												<li>
													<i class="fa fa-car" aria-hidden="true"></i>2011
												</li>
												<li>
													<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
												</li>
												<li>
													<i class="fa fa-cog" aria-hidden="true"></i>Auto
												</li>
												<li>
													<i class="fa fa-road" aria-hidden="true"></i>15000
												</li>
												<li class="orange-btn">
													<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>voir en detail</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="rental-car zoom">
											<figure><img src='../static/img/hyundai.jpg'  alt=""style="width: 100%; height:100%;" ></figure>										                                                                                                                                                                                                                    
											<div class="car-details ">
												<div class="car-info clearfix">
													<h5>Mercedes AMG GT</h5>
													<ul class="car-rating">
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-half-o" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-o" aria-hidden="true"></i>
														</li>
													</ul>
												</div>
												<span>prix <small> 3000000FCFA</small></span>

											</div>
											<ul class="car-more-info clearfix">
												<li>
													<i class="fa fa-car" aria-hidden="true"></i>2011
												</li>
												<li>
													<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
												</li>
												<li>
													<i class="fa fa-cog" aria-hidden="true"></i>Auto
												</li>
												<li>
													<i class="fa fa-road" aria-hidden="true"></i>15000
												</li>
												<li class="orange-btn">
													<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>voir en detail</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="rental-car zoom">
											<figure><img src='../static/img/sizuki.jpeg'    alt="" style="width: 100%; height:100%;" ></figure>										                                                                                                                                                                                                                    
											
											<div class="car-details ">
												<div class="car-info clearfix">
													<h5>Audi A8 Sport</h5>
													<ul class="car-rating">
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li>
															<i class="fa fa-star" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-half-o" aria-hidden="true"></i>
														</li>
														<li class="grey-star">
															<i class="fa fa-star-o" aria-hidden="true"></i>
														</li>
													</ul>
												</div>
												<span>Prix <small> 1000000FCFA</small></span>

											</div>
											<ul class="car-more-info clearfix">
												<li>
													<i class="fa fa-car" aria-hidden="true"></i>2011
												</li>
												<li>
													<i class="fa fa-tachometer" aria-hidden="true"></i>Diesel
												</li>
												<li>
													<i class="fa fa-cog" aria-hidden="true"></i>Auto
												</li>
												<li>
													<i class="fa fa-road" aria-hidden="true"></i>15000
												</li>
												<li class="orange-btn">
													<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>voir en detail</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- rental vehicles section end here -->
				
				
				
				<section class="filter-wrapper">
					<div class="container">
						<div class="row">
				
								<div class=" col-sm-3 col-md-3">
										<div class="filter-car-aside">
											<div class="filter-car-selection">
												<h4>Lister votre choix</h4>
												<form class="login-form" action="{{ url_for('filtre') }}"  method="post" autocomplete="off" enctype="multipart/form-data">

												<select id="selects" class="form-controol" name="categories" onchange="run()" required>
													<option value="">Catégories</option>
													<option value="voiture">Voitures</option>
													<option value="moto">Motos</option>
													<option value="piece">Pieces</option>
												</select>
												<select name="modell" id="model" required>
													<option value="">Modéle</option>
												</select>
												<select name="annee">
													<option value="">années</option>
													<option value="2020">2020</option>
													<option value="2019">2019</option>
													<option value="2018">2018</option>
													<option value="2017">2017</option>
													<option value="2016">2016</option>
													<option value="2015">2015</option>
													<option value="2014">2014</option>
													<option value="2013">2013</option>
													<option value="2012">2012</option>
													<option value="2011">2011</option>
													<option value="2010">2010</option>
												</select>
												<select name="carburant">
													<option value="">Carburant</option>
													<option value="diesel">Diesel</option>
													<option value="essence">Essence</option>
												</select>
												
												
												<div class="text-center" style="background-color:#ecac4a;" ><input class="btn btn-outline-dark  btn-block " type="submit" value="Enregistrer" class="btn_1 full-width"></div>

									</form>
											</div>
											<div class="filter-vehicles-btn">
												<a href="#" class="orange-btn"> <i class="fa fa-filter" aria-hidden="true"></i> Filtré votre Choix</a>
											</div>
			
										</div>														
									</div>
									
									<!-- {{users}} -->
									{% if users|length==0 %}
									<h1>Aucun modéle n'est encore disponible.</h1>
									{%else%}
									{% for row in users%}
									<div class="col-sm-3 col-md-3">
										
										<div class="filter-cars">
											<div class="filter-inner">
													
												<img src='../static/images/{{row[0].0}}'  width="100%" height="15%" alt="" />
												
												<div class="filter-widgets">
													<strong> <a><i class="fa fa-heart" aria-hidden="true"></i></a> <a><i class="fa fa-refresh" aria-hidden="true"></i></a> <a class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/car1.jpg" title=""><i class="fa fa-search-plus" aria-hidden="true"></i></a> </strong>
												</div>
											</div>
											<div class="filter-car-details clearfix">
												<h5>{{row[1]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
														<i  style="color:#ecac4a;" >{{row[14]}}</i></h5>
													
												<ul class="filter-car-rating clearfix">
													<li>
														<i class="fa fa-star" aria-hidden="true"></i>
													</li>
													<li>
														<i class="fa fa-star" aria-hidden="true"></i>
													</li>
													<li>
														<i class="fa fa-star" aria-hidden="true"></i>
													</li>
													<li class="grey-star">
														<i class="fa fa-star-half-o" aria-hidden="true"></i>
													</li>
													<li class="grey-star">
														<i class="fa fa-star-o" aria-hidden="true"></i>
													</li>
												</ul>
												<span>Start from <em>4000</em> <small> {{row.7}}</small> <strong>FCFA</strong></span>
												<span class="discount">-20%</span>
											</div>
											{% if row[13]=='voiture' %}
											<ul class="filter-car-more-info clearfix">
												<li>
													<i class="fa fa-car" aria-hidden="true"></i>{{row.2}}
												</li>
												<li>
													<i class="fa fa-tachometer" aria-hidden="true"></i>{{row.3}}
												</li>
												<li>
													<i class="fa fa-cog" aria-hidden="true"></i>{{row.13}}
												</li>
												<li>
													<i class="fa fa-road" aria-hidden="true"></i>{{row.4}}
												</li>
											
											</ul>
											{%endif%}
											<ul class="filter-car-more-info clearfix"></ul>
												<li class="orange-btn">
													<a href="detail&{{row[12]}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Detail</a>
												</li>
											</ul>
						
										</div>
						
									</div>				

							{%endfor%}
							{%endif%}
						</div>

				</section>		
			</div>
			<!--Content Area End-->

			<script>
		function run(){
        if (document.getElementById("selects").value != "") {
            var dop = document.getElementById("selects").value;
			$('#model').children('option:not(:first)').remove();
			console.log(dop); 
			alert(dop)
				$.ajax({ 
					type: "POST",
					url: "option&"+dop,
				});
        } else { 
        return false; 
    } 
    }

	function run(){
        if (document.getElementById("selects").value != "") {
            var dop = document.getElementById("selects").value;
			$('#model').children('option:not(:first)').remove();
			console.log(dop); 
			$.ajax({ 
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            url: "option&"+dop,
            success: function(liste_res){
                console.log(liste_res);
                $.each(liste_res,function(index,d){
                    $("#model").append("<option value="+ d.marque +">" + d.marque + "</option>");
                    
                });
            }
        });
        } else { 
        return false; 
    } 
    }
			

	$('#multi').mdbRange({
  single: {
    active: true,
    multi: {
      active: true,
      rangeLength: 1
    },
  }
});
			</script>
{% include 'footer.html' %}