{% include 'border.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/style.css" )}}'>
    <link href='{{url_for("static",filename="css/bootstrap.custom.min.css")}}' rel="stylesheet">
		<link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">
	
		<!-- SPECIFIC CSS -->
        <link href='{{url_for("static",filename="css/home_1.css")}}' rel="stylesheet">

        <link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">


</head>
<body>
    <div id="content">											
        <section class="rental-vehicles">
            <div class="container" style="margin-top:-5%">
                <div class="row" style="padding-left: 20%;">
                    
                    <div class="rental-per-day">
                        <div class="row">
                          
                          {% if photos|length==0 %}
                            <h1>Vous avez pas encore publié de nouvelle voiture.</h1>
                            {%else%}
                            {% for row in photos%}
                            <div  class="col-sm-4 col-md-4">
                                <div class="rental-car zoom">    
                                    <div class="filter-cars">
                                        <div class="filter-inner">
                                            <img src='../static/images/{{row[1].0}}'   class="img-fluid" alt="" style="width: 100%; height:95%;"  >
                                           
                                        </div>
                                        <div class="filter-car-details clearfix">
    
                                            <h5>{{row[2]}}</h5>
                                            <ul  class="filter-car-rating clearfix"  >
                                                <li style="color:#ecac4a;" >
                                                    <i style="color:#ecac4a;" class="fa fa-star" aria-hidden="true"  ></i>
                                                </li>
                                                <li style="color:#ecac4a;">
                                                    <i style="color:#ecac4a;" class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li style="color:#ecac4a;">
                                                    <i  style="color:#ecac4a;" class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li class="grey-star">
                                                    <i   style="color:#ecac4a;"class="fa fa-star-half-o" aria-hidden="true"></i>
                                                </li style="color:#ecac4a;">
                                                <li class="grey-star">
                                                    <i  style="color:#ecac4a;" class="fa fa-star-o" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                            <span>Start from <em>4000</em> <small> {{row.8}}</small> <strong>FCFA</strong></span>
    
                                        </div>
                                        <ul class="filter-car-more-info clearfix" >
                                            <li >
                                                <i style="color:#ecac4a;" class="fa fa-car" aria-hidden="true"></i>{{row.3}}
                                            </li>
                                            <li>
                                                <i  style="color:#ecac4a;"  class="fa fa-tachometer" aria-hidden="true"></i>{{row.4}}
                                            </li>
                                            <li>
                                                <i  style="color:#ecac4a;"class="fa fa-cog" aria-hidden="true"></i>{{row.9}}
                                            </li>
                                            <li>
                                                <i  style="color:#ecac4a;"class="fa fa-road" aria-hidden="true"></i>{{row.5}}
                                            </li>
                                            <li class="orange-btn" >
                                                <a href="#"  style="background-color:black;"></a>
                                            </li>
                                        </ul>
    
                                    </div>
    
                                </div>
                            </div>
                            {%endfor%}
                            {%endif%}
							
                            

               
                         </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>
    </body>
</html>