{% include 'borderadmin.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/style.css" )}}'>
    <link href='{{url_for("static",filename="css/bootstrap.custom.min.css")}}' rel="stylesheet">
		<link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">
	
		<!-- SPECIFIC CSS -->
        <link href='{{url_for("static",filename="css/home_1.css")}}' rel="stylesheet">

        <link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">


</head>
<body>
    <div id="content">											
        <section class="rental-vehicles">
            <div class="container" style="margin-top:-5%">
                <div class="row" style="padding-left: 20%;">
                    
                    <!-- {{new_photos}}
                    {{comptes}}
                    {{moi}} -->

                    <div class="links">
    
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="{{ category }} " role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
            
                            <div class="msg">{{ msggz }}</div>
                        </div>

                    <div class="rental-per-day">
                        <div class="row">
                        {% if new_photos|length==0 %}
                        <h1>Aucun nouveau modéle est publié.</h1>
                        {%else%}
                        {% for row in new_photos%}
                            <div  class="col-sm-8 col-md-8">
                                <div class="rental-car zoom">    
                                    <div class="filter-cars">
                                        <div class="filter-inner">
                                            <img src='../static/images/{{row[1].0}}'   class="img-fluid" alt="" style="width: 100%; height:95%;"  >
                                           
                                        </div>
                                        <div class="filter-car-details clearfix">
    
                                            <h6> {{row[4]}} : {{row[5]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                                    <i  style="color:#ecac4a;" >{{row[7]}}</i></h6>
                                            <h5>{{row[2]}}</h5>
                                            <ul  class="filter-car-rating clearfix"  >
                                                <li style="color:#ecac4a;" >
                                                    <i style="color:#ecac4a;" class="fa fa-star" aria-hidden="true"  ></i>
                                                </li>
                                                <li style="color:#ecac4a;">
                                                    <i style="color:#ecac4a;" class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li style="color:#ecac4a;">
                                                    <i  style="color:#ecac4a;" class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li class="grey-star">
                                                    <i   style="color:#ecac4a;"class="fa fa-star-half-o" aria-hidden="true"></i>
                                                </li style="color:#ecac4a;">
                                                <li class="grey-star">
                                                    <i  style="color:#ecac4a;" class="fa fa-star-o" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                             <span>Start from <em>4000</em> <small>{{row[3]}}</small> <strong>FCFA</strong></span>
    
                                        </div>
                                        <ul class="filter-car-more-info clearfix" >
                                            <li >
                                                <i style="color:#ecac4a;" class="fa fa-car" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i  style="color:#ecac4a;"  class="fa fa-tachometer" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i  style="color:#ecac4a;"class="fa fa-cog" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i  style="color:#ecac4a;"class="fa fa-road" aria-hidden="true"></i>
                                            </li>
                                            <li class="orange-btn" >
                                                <div class="row" style="margin-top: 1%;">
                                                    <div  class="col-sm-6 col-md-6">
                                                        <a href="valider/{{row[0]}}" class="btn btn-outline-dark  btn-block"  style="color: aliceblue" role="button" title="Lister" onclick="return confirm('Avez-vous bien regardé la publication avant de valider?');">Valider</a> 

                                                 </div>
                                                 <div  class="col-sm-6 col-md-6">
                                                    <a href="supprimer/{{row[0]}}" class="btn btn-outline-danger btn-block" role="button" title="Lister" onclick="return confirm('Voulez vous vraiment supprimer cette publication?');">Suprimer</a> 

                                                 </div>
                                                </div>
                                            </li>
                                        </ul>
    
                                    </div>
    
                                </div>
                            </div>
                            {%endfor%}
                            {%endif%}
               

               
                         </div>
                        </div> 
                    </div>
            </div>
        </section>
    </div>
    </body>
<style>
        .danger {
            color: red
                }
        
        .succes {
            color: green
                }
            
    </style>
</html>