{% include 'header.html' %}
<div class="top_banner">
    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                </ul>
            </div>
        </div>
    </div>
    <img src='{{url_for("static",filename="img/peugeot.jpg")}}'   class="img-fluid" alt="" style="width: 55%; height:100%;">
</div>
<div class="container">	
    <div class="container margin_30">
        <div class="row small-gutters">
            


                    <h1>Le modéle demandé n'est pas encore disponible.</h1>
                    
                    
                    

          
                            
        </div>


</div>
<!-- <div class="pagination__wrapper">
    <ul class="pagination">
        <li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
        <li>
            <a href="#0" class="active">1</a>
        </li>
        <li>
            <a href="#0">2</a>
        </li>
        <li>
            <a href="#0">3</a>
        </li>
        <li>
            <a href="#0">4</a>
        </li>
        <li><a href="#0" class="next" title="next page">&#10095;</a></li>
    </ul>
</div> -->
    
</div>									
</div>
{% include 'footer.html' %}
