{% include 'borderadmin.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/style.css" )}}'>
    <link href='{{url_for("static",filename="css/bootstrap.custom.min.css")}}' rel="stylesheet">
		<link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">
	
		<!-- SPECIFIC CSS -->
        <link href='{{url_for("static",filename="css/home_1.css")}}' rel="stylesheet">

        <link href='{{url_for("static",filename="css/style.css")}}' rel="stylesheet">


</head>
<body>
    <div id="content">											
        <section class="rental-vehicles">
            <div class="container" style="margin-top:-5%">
                <div class="row" style="padding-left: 20%;">
                    
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="{{ category }} " role="alert">
                          <span>{{ message }}</span>
                          
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                    <div class="rental-per-day">
                        <div class="row">
                        {% if users|length==0 %}
                        <h1>Il n'y a pas encore de modéle voiture valide.</h1>
                        {%else%}
                        {% for row in users%}
                        <div  class="col-sm-4 col-md-4">
                                <div class="rental-car zoom">    
                                    <div class="filter-cars">
                                        <div class="filter-inner">
                                            <img src='../static/images/{{row[1].0}}'   class="img-fluid" alt="" style="width: 100%; height:95%;"  >
                                           
                                        </div>
                                        <div class="filter-car-details clearfix">
    
                                            <h6>Nom: {{row[4]}}</h6>
                                            <h6> Tel: {{row[5]}} </h6>
                                            <h6>Adresse: {{row[6]}}</h6>
                                            <h5>Marque: {{row[2]}}</h5>
                                            <h5>Prix: {{row[3]}} FCFA</h5>
                                            
                                             <!-- <span>Start from <em>4000</em> <small>{{row[3]}}</small> <strong>FCFA</strong></span> -->
    
                                        </div>
                                        <ul class="filter-car-more-info clearfix" >
                                            
                                            <li class="orange-btn" >
                                                <div class="row" style="margin-top: 1%;">
                                                    <!-- <div  class="col-sm-6 col-md-6">
                                                        <a href="valider/{{row[0]}}" class="btn btn-outline-dark  btn-block"  style="color: aliceblue" role="button" title="Lister">Valider</a> 

                                                 </div> -->
                                                 <div  class="col-sm-12 col-md-12">
                                                    <a href="supprimer/{{row[0]}}" class="btn btn-outline-danger btn-block" role="button" title="Lister" onclick="return confirm('Voulez vous vraiment supprimer cette publication?');">Suprimer</a> 

                                                 </div>
                                                </div>
                                            </li>
                                        </ul>
    
                                    </div>
    
                                </div>
                            </div>
                            {%endfor%}
                            {%endif%}

                         </div>
                        </div> 
                    </div>
            </div>
        </section>
    </div>
    </body>
    <style>
        .danger {
            color: red
                }
        
        .succes {
            color: green
                }
            
    </style>


</html>